body{
    background-image: -webkit-radial-gradient(#030033,#000000);
    color: #e6e6e6;
    font-family: 'Georama', sans-serif;
    line-height: 1.5;
    overflow-x: hidden;
    position: relative;
    text-align: center;
}

button,select,p {
    font-family: 'Montserrat', sans-serif;
}

button{
    background-color: #ffc24c;
    background-image: -webkit-linear-gradient(90deg,#ffc24c, rgb(255, 213, 149));
    border: none;
    border-radius: 5px;
    padding: 5px;
}

form{
    margin: 0 auto;
    min-width: 300px;
    width: 50vw
}


h2{
    height: 60px;
}

.icon{
    left: 440px;
    position: relative;
    top: -320px;
}

.movie-img{
    height: 450px;
}

.no-trailer{
    height: 315px;
    margin: 0 auto;
    width: 420px;
}

.details-wrapper{
    display: none;
    margin: 50px 0 0;
}
.result{
    margin: 0 25px;
    width: 300px;
}

.wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 25vh auto;
    width: 90vw
}

.result:hover .details-wrapper{
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.result:hover img{
    display: none;
}

.selection-wrapper{
    display: block;
}

.video-overlay{
    background-color: rgba(0, 0, 0, 0.562);
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index:  100;
}

.video-player{
    left: 0;
    position: fixed;
    right: 0;
    top: 25%;
    z-index: 150;
}

.video-frame{
    height: 315px;
    width: 420px;
}
@media(max-width:768px){
    img{
        width: 300px;
    }
}

@media(max-width: 500px){
    .icon{
        left: 300px;
        position: relative;
        top: -300px;
    }
    .video-frame{
        height: 280px;
        width: 280px;
    }
    .video-player{
        right: 15px;
    }
}