body{
    background-image: -webkit-radial-gradient(#030033,#000000);
    color: #e6e6e6;
    font-family: 'Georama', sans-serif;
    height: 100vh;
    line-height: 1.5;
    overflow-x: hidden;
    text-align: center;
}

button,select,p {
    font-family: 'Montserrat', sans-serif;
}

button{
    background-color: #ffc24c;
    background-image: -webkit-linear-gradient(90deg,#ffc24c, rgb(255, 213, 149));
    border: none;
    border-radius: 5px;
    padding: 5px;
}

form{
    margin: 0 auto;
    min-width: 300px;
    width: 50vw
}


h2{
    height: 60px;
}


.movie-img{
    height: 450px;
}

p{
    display: none;
    margin: 25% 0;
}
.result{
    margin: 0 25px;
    width: 300px;
}

.wrapper{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 25vh auto;
    width: 90vw
}

.result:hover p{
    align-items: center;
    display: flex;
    justify-content: center;
}

.result:hover img{
    display: none;
}

@media(max-width:768px){
    img{
        width: 300px;
    }
}